.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
}

.header__lang-link:hover {
  opacity: 0.8;
}

/* Стили для экранов <= 320px  */
@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}