.gallery {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 92px 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-auto-rows: auto;
  gap: 16px;
  max-width: 1280px;
  width: 100%;
  list-style-type: none;
}

/* Стили для экранов <= 1024px  */
@media screen and (max-width: 1024px) {
  .gallery {
    gap: 14px;
    max-width: 1024px;
  }
}

/* Стили для экранов <= 768px  */
@media screen and (max-width: 768px) {
  .gallery {
    padding: 88px 24px 0;
    gap: 16px;
    max-width: 768px;
  }
}

/* Стили для экранов <= 320px  */
@media screen and (max-width: 320px) {
  .gallery {
    padding: 64px 0 0;
    grid-template-columns: 1fr;
    grid-auto-rows: 216px;
    gap: 12px;
    max-width: 288px;
  }
}