.gallery {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 92px 48px 0;
  max-width: 1280px;
  width: 100%;
}

/* Стили для экранов <= 1024px  */
@media screen and (max-width: 1024px) {
  .gallery {
    max-width: 1024px;
  }
}

/* Стили для экранов <= 768px  */
@media screen and (max-width: 768px) {
  .gallery {
    padding: 88px 24px 0;
    max-width: 768px;
  }
}

/* Стили для экранов <= 320px  */
@media screen and (max-width: 320px) {
  .gallery {
    padding: 64px 0 0;
    max-width: 288px;
  }
}