.lead__title {
  margin: 0 0 32px;
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

/* Стили для промежуточных значений экранов <= 680px  */
@media screen and (max-width: 680px) {
  .lead__title {
    margin: 0 0 32px;
    max-width: 600px;
    font-size: 45px;
    line-height: 50px;
  }
}

/* Стили для экранов <= 320px  */
@media screen and (max-width: 320px) {
  .lead__title {
    margin: 0 0 16px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}