.cover {
  margin: 92px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1184px;
  min-height: 740px;
  text-decoration: none;
  color: #fff;
  background: #2a2c2f url(../../images/cover-bg.jpg) no-repeat;
  background-size: cover;
}

/* Стили для экранов <= 1024px  */
@media screen and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

/* Стили для экранов <= 768px  */
@media screen and (max-width: 768px) {
  .cover {
    margin: 90px auto 88px;
    min-height: 480px;
  }
}

/* Стили для экранов <= 320px  */
@media screen and (max-width: 320px) {
  .cover {
    margin: 66px auto 64px;
    min-height: 200px;
  }
}